<!DOCTYPE html>
<html lang="en">
  <head>
    <title>discovery</title>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>